@font-face {
  font-family: "iconfont"; /* Project id 4078444 */
  src: url('iconfont.woff2?t=1692437073627') format('woff2'),
       url('iconfont.woff?t=1692437073627') format('woff'),
       url('iconfont.ttf?t=1692437073627') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Shapex:before {
  content: "\e620";
}

.icon-error:before {
  content: "\e6c6";
}

.icon-code:before {
  content: "\e60d";
}

.icon-arrow-down:before {
  content: "\e646";
}

.icon-arrow-up:before {
  content: "\e725";
}

.icon-ico-left-arrow:before {
  content: "\e66f";
}

.icon-guanhuaimoshi:before {
  content: "\eb38";
}

.icon-v:before {
  content: "\e605";
}

.icon-database:before {
  content: "\e669";
}

.icon-shujuku:before {
  content: "\e78c";
}

.icon-signing:before {
  content: "\e60c";
}

.icon-weatherlightning1183114easyiconnet:before {
  content: "\e666";
}

.icon-contacts-solid:before {
  content: "\e6a8";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-search:before {
  content: "\e741";
}

.icon-icon-test:before {
  content: "\e635";
}

.icon-icon_other_services:before {
  content: "\e601";
}

.icon-fire-Fill:before {
  content: "\e8da";
}

.icon-scan:before {
  content: "\e840";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-lock:before {
  content: "\e7c0";
}

.icon-md-eye-off:before {
  content: "\e749";
}

.icon-eye-fill:before {
  content: "\e621";
}

